<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartFeed Chick"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash sebagai LAUNCHER (pertama dibuka) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- Controls Activity -->
        <activity
            android:name=".ControlsActivity"
            android:exported="false" />

        <!-- Monitoring Activity -->
        <activity
            android:name=".MonitoringActivity"
            android:exported="false" />

        <!-- Analytics Activity -->
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>